
body{
font-family: 'Poppins', sans-serif;
}
.nav-link{
	color: black;
}
.nav-link:hover{
	color:  #1f67db;
	
	font-weight: bold;
	border-bottom: 1px solid #1f67db;
	
}

.nav-item{
	margin-left: 20px;

}

.vl{
	border-left: 2px solid black;
	margin-left: 30px;
  height: 30px;
}

.Hero{
	background-color: #E6FBFE;
	min-height: 480px;
}

.navbar-custom{
	height: 90px;
	display: flex;
	flex-wrap:wrap;
	 background-color: white;
	 color: black; 
	 box-shadow: 2px 5px #f0f0f0;
	  border-radius: 10px; 
	  margin-top: 30px; 

	margin-bottom: -60px;
}

.brif{
 font-size: 30px;
 padding: 10px; 
 background-color: skyblue; 
 color: white;
  border-radius: 8px;
}

.build{
 font-size: 30px;
 padding: 10px; 
 background-color: yellow; 
 color: white;
  border-radius: 8px;
}

.btn-search{
	border-style: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: #45CAE7;
	padding: 15px 19px;
	color: white;
}

.btn{
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: #45CAE7;
	margin-top: 15px;
	padding: 15px 19px;
	color: white;
}

.job-text{
	margin-top: 70px;
font-size:42px; font-weight: bold; text-align: center;
}
.cat-text{
	margin-top: 70px;
	font-size:42px; font-weight: bold; margin-bottom: 50px; text-align: center;
}

.card-deck{
	display: flex;
	justify-content: center;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  justify-content: space-between;
  margin:auto;
  text-align: center;
  font-family: arial;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
border-radius: 25px;
	
}
.card:hover{
	background-color: #525252;

	margin-top: 20px;
}


.btn-apply{
	border-style: none;
	border-radius: 5px;
	font-size: 10px;
	background-color: #45CAE7;
	padding: 10px 12px;
	color: white;
	margin-right:-200px;
}
.btn-apply:hover{
	background-color: black;
}

.Partition{
		background-color: #E6FBFE;

}

.abt-img{
border-radius: 7px;
 border-color: grey;
  border-style: solid;
   border-width: 3px;
 height:80px;width:80px;
}
.textdiv{
	display: none;
	height: 50px;
	width: auto;
	background-color: white;
	border-style: solid;
	border-radius: 2px;
	border-color: black;

}
.abt-img:hover +.textdiv{
	cursor: pointer;
	display: block;
	height: auto;
	width: 250px;
	font-size: 15px;
	box-shadow: 2px 5px #f0f0f0;
	text-align: center;
	border-style: none;
	border-radius: 8px;
	padding:10px;
}